{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<body class="loginbackground">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'users:login' %}">Login</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container text-center" id="login">
        <div class="text-center">
            <strong style="font-size:30px;border-bottom:3px solid red;" >Login</strong>
        </div><br>
        <form method="post">
            {% csrf_token %}
            <div class="form-label-group">
                {{form|crispy}}
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
             <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <div class="border-top pt-3 mt-2">
            <small class="text-muted">
              Don't have an account?<a class="ml-2" href="{% url 'users:register' %}">Sign Up</a>
            </small>
        </div>
    </div>
</body>
{% endblock %}
