{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'todo:home' user.id %} ">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:login' %}">Login</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <h3 class="text-primary text-center mt-10">{{user}} Profile</h3>
    <div class="jumbotron">
        <div id="leftbox">
            <img style="width:100px;margin:auto;" class="rounded-circle" src="{{user.profile.image.url}}">
            <h2>{{user.username}}</h2>
            <p class="text-secondary">{{user.email}}</p>
        </div>
        <div id="middlebox">
            <p>{{user.first_name}}</p>
            <p>{{user.profile.bio}}</p>
             <p>{{user.profile.location}}</p>
        </div>
         <div id="rightbox">
            <p>{{user.last_name}}</p>
            <p>{{user.profile.Occupation}}</p>
             <p>{{user.profile.birthdate}}</p>
        </div>
        <button class="btn btn-info" id="flip">Edit</button>
        <button class="btn btn-info" id="showbutton">Don't want to Edit</button>

    </div>
    <form method="post" enctype="multipart/form-data" id="panel">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mg-4">Profile Info</legend>
                {{u_form|crispy}}
                {{p_form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" id="">Update</button>
            </div>
    </form>
</body>
{% endblock %}